@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <div class="flashcard-container">
            <p class="main-title">Flashcard Learning</p>
         </div>
        <div class="flashcard-container">
            <div class="flashcard vertical-center">
                <div class="buttonStack">
                    <p class="ranking-text">Rank Your Knowledge Level</p>
                    <p class="ranking-text">Lowest</p>
                    <button type="button" class="stack-btn">1</button>
                    <button type="button" class="stack-btn">2</button>
                    <button type="button" class="stack-btn">3</button>
                    <button type="button" class="stack-btn">4</button>
                    <button type="button" class="stack-btn">5</button>
                    <button type="button" class="stack-btn">6</button>
                    <button type="button" class="stack-btn">7</button>
                    <button type="button" class="stack-btn">8</button>
                    <button type="button" class="stack-btn">9</button>
                    <button type="button" class="stack-btn">10</button>
                    <p class="ranking-text">Highest</p>
                </div>
                <div class="box1">
                </div>
            </div>
        </div>
    </div>
